#!/bin/bash
CMD=$1

NAME="redis-server"
EXEC="/usr/local/bin/$NAME"
PID_FILE="{{ item.pid }}"
REDIS_CONFIG="{{ item.conf }}"

start() {
    echo "Start Redis {{ item.port }} Server"
    if [ -f $PID_FILE ]
    then
        echo "$PID_FILE exists, process is already running or crashed"
    else
        echo "Starting Redis {{ item.port }} server..."
        $EXEC $REDIS_CONFIG
    fi
}

stop() {
    if [ ! -f $PID_FILE ]
    then
        echo "$PID_FILE does not exist, process is not running"
    else
        PID=$(cat $PID_FILE)
        echo "Stopping ..."
        kill -9 $PID
        while [ -x /proc/${PID} ]
        do
            echo "Waiting for Redis {{ item.port }} to shutdown ..."
            sleep 1
        done
        echo "Redis {{ item.port }} stopped"
    fi
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    *)
        echo "Please use start or stop as first argument"
        ;;
esac
exit $?
